body {
	background: #1201FE;
}
.main {
	height: 757px;
	width: 1294px;
	background: #242424;
}
.active {
	position: absolute;
	top: 38px;
	left: 8px;
	height: 720px;
	width: 1280px;
	background: #F2F1F1;
	
}
/*далі усі відсоткові відношення щодо активного вікна*/
.menu {
	position: absolute;
	height: 73.5px;/*5%*/
	width: 1280px;
	background: #49494A;
}
.side_bar {
	position: absolute;
	left: 60px;
	top: 73.5px;
	height: 646.5px;
	width: 200px;/*20%*/
	background-image: url('https://i.pinimg.com/474x/95/c2/42/95c24221188e49de0439447ba1aa0cc9.jpg');
	}
.search {
	position: absolute;
	text-align: center;
	top: 55px;
	left: 948.75px;/*75%*/
	height: 627px;
	width: 316.25px;/*25%*/
	/*background-image: url('https://i.pinimg.com/474x/95/c2/42/95c24221188e49de0439447ba1aa0cc9.jpg');*/
	background: red;
	}
.listt {
	position: absolute;
	top: 73.5px;
	left: 260px;/*253px*/
	height: 646.5px;
	width: 1020px;/*55%*/
	background: red;
}
.scrol {
	position: absolute;
	left: 1002.45px;
	height: 630.9px;
	width: 17.55px;/*11.75*/
	background: #E8E7F3;
}
.enough {
	overflow: hidden;
	padding-left: 7.8px;
	padding-top: 7.8px;
	padding-bottom: 7.8px;
	padding-right: 7.8px;
	height: 630.9px;
	width: 1004.4px;
	background: #737373;
}
.film {
	display: inline-block;
	float: left;
	margin-left: 7.8px;
	margin-top: 7.8px;
	margin-right: 7.8px;
	margin-bottom: 7.8px;
	height: 291.2px;
	width: 202.8px;
	background: white;
}
/*5.6x3.9 + 0.15x2 with 40 (224x156 + 6x2)
 5.6x3.9 + 0.15x2 with 50  (+ 7.8x2)*/
 .choice{
	display: inline-block;
	float: left;
	margin-left: 56.725px;
	margin-top: 7.8px;
	margin-right: 7.8px;
	margin-bottom: 7.8px;
	height: 291.2px;
	width: 202.8px;
	background: white;
}
 .choice-2{
	display: inline-block;
	float: left;
	margin-left: 56.725px;
	margin-top: 7.8px;
	margin-right: 7.8px;
	margin-bottom: 7.8px;
	height: 291.2px;
	width: 202.8px;
	background: #737373;
}